<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "Hudson Street Library",
  "url": "https://hudsonstreetlibrary.com",
  "logo": "https://hudsonstreetlibrary.com/assets/images/logo.png",
  "description": "A curated collection of photography, art, and design books"
}
</script>
