---
permalink: /sitemap-collections.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ site.url }}/collections/afm.html</loc>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>{{ site.url }}/collections/apartamento.html</loc>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>{{ site.url }}/collections/art-books-collection.html</loc>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>{{ site.url }}/collections/black-photographers.html</loc>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>{{ site.url }}/collections/blink.html</loc>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>{{ site.url }}/collections/books-on-books.html</loc>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>{{ site.url }}/collections/collage-collections.html</loc>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>{{ site.url }}/collections/comme-des-garcons.html</loc>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>{{ site.url }}/collections/disaster.html</loc>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>{{ site.url }}/collections/ephemera.html</loc>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>{{ site.url }}/collections/esophus.html</loc>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>{{ site.url }}/collections/le-petit-vouyer.html</loc>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>{{ site.url }}/collections/magazines.html</loc>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>{{ site.url }}/collections/matsuda-fashion-catalogs.html</loc>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>{{ site.url }}/collections/music-photobooks.html</loc>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>{{ site.url }}/collections/newspapers.html</loc>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>{{ site.url }}/collections/nyc-photobooks.html</loc>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>{{ site.url }}/collections/posters-and-paper.html</loc>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>{{ site.url }}/collections/purple-books.html</loc>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>{{ site.url }}/collections/purple-magazine.html</loc>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>{{ site.url }}/collections/queering-the-collection.html</loc>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>{{ site.url }}/collections/recently_added.html</loc>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>{{ site.url }}/collections/record-culture.html</loc>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>{{ site.url }}/collections/richard-prince.html</loc>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>{{ site.url }}/collections/slanted.html</loc>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>{{ site.url }}/collections/small-books-big-images.html</loc>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>{{ site.url }}/collections/toilet-paper.html</loc>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>{{ site.url }}/collections/useful-photography.html</loc>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>{{ site.url }}/collections/woman-viewing-woman.html</loc>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>{{ site.url }}/collections/wombat-artist-boxes.html</loc>
    <changefreq>weekly</changefreq>
  </url>
</urlset>
